@media (max-width: 991px) {
  .card-section .card-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about-section .about-info .button-group {
    text-align: center;
  }
  .about-section .experience .row .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 5px;
  }
  .about-section .skills .row .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 5px;
  }
  .home-section .effect-1 {
    bottom: 13%;
  }
  .home-section .effect-2 {
    bottom: 10%;
  }
  .home-section .effect-3 {
    top: -55%;
    left: 20%;
  }
}
@media (max-width: 767px) {
  .contact-section .w-50,
.contact-section .contact-item,
.card-section .card-item,
.about-section .skills .skill-item,
.about-section .about-info,
.about-section .about-img,
.home-section .home-text,
.home-section .home-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .home-text {
    order: 2;
    text-align: center;
    margin-top: 0px;
  }
  .home-section .full-screen {
    padding: 100px 0;
  }
  .home-section .home-img .img-box {
    margin-bottom: 20px;
    max-width: 400px;
  }
  .home-section .effect-1 {
    width: 120px;
    height: 120px;
    right: 0%;
    border-width: 15px;
    -webkit-animation: spin 40s linear infinite;
            animation: spin 40s linear infinite;
  }
  .home-section .effect-2 {
    width: 100px;
    -webkit-animation: topBounce 3s ease-in-out infinite;
            animation: topBounce 3s ease-in-out infinite;
  }
  .home-section .effect-2 div {
    height: 20px;
    width: 20px;
    margin: 0 2px 5px;
  }
  .home-section .effect-3 {
    height: 250px;
    width: 250px;
    border: 25px solid var(--skin-color);
    left: 25%;
    top: -30%;
    -webkit-animation: leftBounce 3s ease-in-out infinite;
            animation: leftBounce 3s ease-in-out infinite;
  }
  .about-section .about-img {
    padding-bottom: 30px;
  }
  .about-section .about-info .button-group {
    text-align: center;
    display: flex;
    padding: 0 10%;
  }
  .about-section .experience .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-section .skills .row .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .about-section .timeline:before {
    left: 35px;
  }
  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }
  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }
  .about-section .timeline .timeline-item:nth-child(odd) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) .icon {
    right: auto;
    left: -60px;
  }
  .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before {
    left: -30px;
    right: auto;
  }
  .about-section .timeline .timeline-item:nth-child(even) {
    padding-left: 75px;
  }
  .about-section .timeline .timeline-item:nth-child(even) .icon {
    left: -60px;
  }
  .contact-section .submit-btn {
    text-align: center;
  }
}
@media (max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 300px;
    margin-bottom: 0px;
  }
  .home-section .home-text h2 {
    font-size: 40px;
  }
}/*# sourceMappingURL=responsive.css.map */