@media(max-width: 991px) {
    .card-section .card-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about-section {
        .about-info .button-group {
            text-align: center;
        }
        .experience {
            .row {
                .contact-item {
                    flex: 0 0 33.33%;
                    max-width: 33.33%;
                }
            }
        }
        .skills {
            .row {
                .contact-item {
                    flex: 0 0 33.33%;
                    max-width: 33.33%;
                }
            }
        }
    }
    .home-section {
        .effect-1 {
            bottom: 13%;
        }
        .effect-2 {
            bottom: 10%;
        }
        .effect-3 {
            top: -30%;
            left: 20%;
        }
    }
}

@media(max-width: 767px) {
    .contact-section .w-50,
    .contact-section .contact-item,
    .card-section .card-item,
    .about-section .skills .skill-item,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section {
        .home-text {
            order: 2;
            text-align: center;
            margin-top: 0px;
        }
        .full-screen {
            padding: 100px 0;
        }
        .home-img {
            .img-box {
                margin-bottom: 20px;
                max-width: 400px;
            }
        }
        .effect-1 {
            width: 100px;
            height: 100px;
            border-width: 15px;
        }
        .effect-2 {
            width: 100px;
            div {
                height: 20px;
                width: 20px;
                margin: 0 2px 5px;
            }
        }
        .effect-3 {
            height: 300px;
            width: 300px;
            border: 30px solid var(--skin-color);
            left: 20%;
            top: -35%;
        }
    }
    .about-section {
        .about-img {
            padding-bottom: 30px;
        }
        .about-info .button-group {
            text-align: center;
            display: flex;
            padding: 0 10%;
        }
        .experience {
            .contact-item {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .skills {
            .row {
                .contact-item {
                    flex: 0 0 33.33%;
                    max-width: 33.33%;
                }
            }
        }
        .timeline {
            &:before {
                left: 35px;
            }
            .timeline-item {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .timeline-item:nth-child(odd) {
                padding-right: 15px;
                text-align: left;
                padding-left: 75px;

                .icon {
                    right: auto;
                    left: -60px;
                }
                .timeline-item-inner:before {
                    left: -30px;
                    right: auto;
                }
            }
            .timeline-item:nth-child(even) {
                padding-left: 75px;

                .icon {
                    left: -60px;
                }
            }
        }
    }
    .contact-section {
        .submit-btn {
            text-align: center;
        }
    }

}

@media(max-width: 574px) {
    .home-section {
        .home-img {
            .img-box {
                max-width: 300px;
                margin-bottom: 0px;
            }
        }
        .home-text {
            h2 {
                font-size: 40px;
            }

        }
    }
}